<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebDS.Properties.Settings.AWEConnectionString" connectionString="Data Source=TINH87\SQLEXPRESS;Initial Catalog=AWE;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.TRMConnectionString" connectionString="Data Source=MINHNN-PC\SQLEXPRESS;Initial Catalog=TRM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.TRMConnectionString1" connectionString="Data Source=LINHDH-PC\SQLEXPRESS;Initial Catalog=TRM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.TRMConnectionString2" connectionString="Data Source=tinh87\sqlexpress;Initial Catalog=TRM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.TRMConnectionString3" connectionString="Data Source=BEO-PC\SQLEXPRESS;Initial Catalog=TRM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.TRMConnectionString4" connectionString="Data Source=.\SQL2008;Initial Catalog=TRM;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WebDS.Properties.Settings.BKI_QLTSConnectionString"
            connectionString="Data Source=TUND\SQLEXPRESS;Initial Catalog=BKI_QLTS;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>