USE [BKI_QLTS]
GO
/****** Object:  StoredProcedure [dbo].[pr_HT_NGUOI_SU_DUNG_Delete]    Script Date: 04/27/2014 16:55:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[pr_HT_NGUOI_SU_DUNG_Delete]
	@ID numeric(18, 0)
AS
-- update table dm_nha
UPDATE dm_nha SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE dm_nha SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update table dm_nha_history
UPDATE DM_NHA_HISTORY SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE DM_NHA_HISTORY SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update table dm_oto
UPDATE dm_oto SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE dm_oto SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update dm_oto_history
UPDATE DM_OTO_HISTORY SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE DM_OTO_HISTORY SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update dm_tai_san_khac
UPDATE DM_TAI_SAN_KHAC SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE DM_TAI_SAN_KHAC SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update dm_tai_san_khac_history
UPDATE DM_TAI_SAN_KHAC_HISTORY SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE DM_TAI_SAN_KHAC_HISTORY SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update gd_khau_hao
UPDATE GD_KHAU_HAO SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE GD_KHAU_HAO SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- update gd_tang_giam_tai_san
UPDATE GD_TANG_GIAM_TAI_SAN SET ID_NGUOI_LAP = NULL WHERE id_nguoi_lap=@ID
UPDATE GD_TANG_GIAM_TAI_SAN SET ID_NGUOI_DUYET  = NULL WHERE ID_NGUOI_DUYET=@ID

-- delete ht_log_login

DELETE FROM HT_LOG_LOGIN WHERE USER_LOGIN = 
	(SELECT ten_truy_cap
 from HT_NGUOI_SU_DUNG WHERE id=@ID)
 
-- delete ht_nguoi_su_dung
DELETE FROM [dbo].[HT_NGUOI_SU_DUNG]
WHERE
	[ID] = @ID
	


	
