UPDATE HT_CHUC_NANG
SET
	-- ID = ? -- this column value is auto-generated,
	TEN_CHUC_NANG = N'Nhà, trụ sở làm việc'
WHERE TEN_CHUC_NANG LIKE N'%Nhà, trụ sở àm việc%'
GO
UPDATE HT_CHUC_NANG
SET
	-- ID = ? -- this column value is auto-generated,
	TEN_CHUC_NANG = N'1-Nhập mới, sửa dữ liệu'
WHERE ID = 173


