USE [BKI_QLTS]
GO
/****** Object:  StoredProcedure [dbo].[pr_HT_USER_GROUP_Delete]    Script Date: 04/27/2014 17:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[pr_HT_USER_GROUP_Delete]
	@ID numeric(18, 0)
AS

DELETE FROM HT_QUAN_HE_SU_DUNG_DU_LIEU WHERE ID_USER_GROUP=@ID

DELETE FROM [dbo].[HT_USER_GROUP]
WHERE
	[ID] = @ID
